<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Klimate</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>

<body>
    <header>
       
        <nav>
            <a href="/welcome">Welcome</a>
            <a href="/businesses">Businesses</a>
            <a href="/login">User Login</a>
            <a href="/forum">Community Forum</a>
            <a href="/calculator">Carbon Footprint Calculator</a>
            <a href="/products">Sustainable Product Page</a>
            <a href="/projects">Carbon Offset Marketplace</a>
            <a href="/TipsGuides">Tips & Guides</a>
        
        </nav>


       
    </header>

    <p>Klimate</p>
    <main>
        {{{body}}}
    </main>
    <footer> </footer>


<script src="/public/js/client_side_validation.js"></script>
</body>

</html>