<h1>Welcome!</h1>

<p>Welcome to Klimate! <br>
Klimate is an interactive platform designed to empower individuals to take meaningful action against climate change <br>
by way of supporting sustainable businesses. Klimate encourages community engagement and is dedicated to combating <br>
 climate change and fostering a greener, more sustainable future, enabling individuals to make informed choices that align <br>
  with their environmental values. 

</p>