<article class="TG">
  <h1>{{ TG.title }}</h1>

  <p> Name of poster: {{ TG.posterUsername }}</p>
  <p> Tip/ Guide: {{ TG.text }}</p>
  

 
  
  <a href="/TipsGuides">Back to Tips & Guides Page</a>
</article>